In [3]:
import os
import pandas as pd

In [2]:
TITANIC_PATH = os.path.join("datasets", "titanic")
TITANIC_PATH

'datasets\\titanic'

In [4]:
def load_titanic_data(filename, titanic_path = TITANIC_PATH):
    csv_path = os.path.join(titanic_path, filename)
    return pd.read_csv(csv_path)

In [5]:
train_data = load_titanic_data("train.csv")
test_data = load_titanic_data("test.csv")

In [6]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
train_data.shape

(891, 12)

In [9]:
test_data.shape

(418, 11)

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB


Variable	Definition	Key
survival	Survival	0 = No, 1 = Yes
pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
sex	Sex	
Age	Age in years	
sibsp	# of siblings / spouses aboard the Titanic	
parch	# of parents / children aboard the Titanic	
ticket	Ticket number	
fare	Passenger fare	
cabin	Cabin number	
embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [13]:
def print_the_number_missing_data(data):
    # Lets check the number of duplicated rows
    print("="*30)
    print(f'Number of Duplicate Rows {data[data.duplicated()].shape[0]}')

    #Let's check the percentage of missing values for the application dataset.
    total_missing = data.isnull().sum()
    percent = round((100*(total_missing/data.isnull().count())),2)

    #Making a table for both and get the top 20 Columns

    missing_value_app_data = pd.concat([total_missing, percent], axis =1, keys= ['Total_missing', 'percent'])
    missing_value_app_data.sort_values(by='Total_missing',ascending=False,inplace=True)
    print("="*30)
    print("Number and % of Missing Value")
    print(missing_value_app_data)

In [14]:
print_the_number_missing_data(train_data)

==============================
Number of Duplicate Rows 0
==============================
Number and % of Missing Value
             Total_missing  percent
Cabin                  687    77.10
Age                    177    19.87
Embarked                 2     0.22
PassengerId              0     0.00
Survived                 0     0.00
Pclass                   0     0.00
Name                     0     0.00
Sex                      0     0.00
SibSp                    0     0.00
Parch                    0     0.00
Ticket                   0     0.00
Fare                     0     0.00